#gameNameDiv {
 height: 120px;
 width: 600px;
 border-style: solid;
 border-color: black;
 clear: all;
 font-family: 'Monoton';
 font-size: 75px;
 text-align: center;
 margin: 20px;
}

#quest1div {
 height: 200px;
 width: 600px;
 border-style: solid;
 border-color: black;
 clear: all;
 margin: 20px;
}

#q1textbox {
    float: right;
    height: 200px;
    width: 390px;
    border-style:solid;
    border-color:black;
}

#q1dQuestion {
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    text-align: center;
}

#q1dOptions {
    text-align: center;
    font-family: 'Halant', serif;
}

#crassulaArgentea {
    height: 175px;
    width: 175px;
    float: left;
    padding: 10px;
}