background {

}

#gameNameDiv {
    height: 100px;
    width: 600px;
    border-style: solid;
    border-color: black;
    margin: 10px;


}

#quest1div {
    height: 200px;
    width: 600px;
    border-style: solid;
    border-color: black;
    margin: 10px;

}

#q1dQuestion {
    font: helvetica;
    font-size: 20px;
}

#q1dOptions {

}

#Q1cactusName {


}



#quest2div {
    height: 200px;
    width: 600px;
    border-style: solid;
    border-color: black;
    margin: 10px;
    text-align: center;
}

#q2dQuestion {
    font: helvetica;
    font-size: 20px;
}

#q2dOptions {

}

#saguaroCacti {
    height: 100px;
    width: 100px;
}










