background {

}

#gameNameDiv {
    height: 100px;
    width: 600px;
    border-style: solid;
    border-color: black;
    margin: 10px;


}

#quest1div {
    height: 200px;
    width: 600px;
    border-style: solid;
    border-color: black;
    margin: 10px;
    text-align: center;

}

#q1dQuestion {
    font: helvetica;
    font-size: 20px;
}

#q1dOptions {

}

#q1Card {
    float: left;
    clear: all;
}